body {
    background-image: url('../image/bg.jpg');
    background-size: cover;
}
.navbar {
    background-color: rgba(0, 10, 156, 0.7);
}
.footer {
    background-color: transparent !important;
}
#form-login{
    max-width: 400px;
    background-color: rgba(0, 10, 156, 0.7);
    flex-grow: 1;
    box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.7);
}
#form-submit{
    width: 100%;
}
.data_table {
    background: #fff;
    padding: 15px;
    box-shadow: 1px 3px 5px #aaa;
    border-radius: 5px;
}

.dt-buttons {
  float: right;
}

.dt-buttons .btn {
  margin-left: 5px;
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.dt-buttons .btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
